/**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Mono');
$raleway-stack: 'Raleway', 'Verdana', 'Lucida Grande', 'Gill Sans', 'Arial',
  'Helvetica', sans-serif;
$system-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$mono-stack: 'Roboto Mono', monospace !default;

/**
   * Colours
   */
$white: #fff;
$black: #222;
$grey: #adafaa;
$darkgrey: #444;
$lightgrey: #ccc;
$silver: #f8f8f8;
$pink: #e83e8c;
$primary: #005b99; /* https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/official-symbols/colour-values.html */
$secondary: #993d00; /* 180deg from primary*/
$green: #036803;
$info: #03607d;
$red: #b60202;
$yellow: #f9d615;
$warning: #695802;

/* apply a natural box layout model to all elements, but allowing components to change */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $system-stack;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $raleway-stack;
  margin: 1em 0;
}

a {
  color: $primary;
  &:hover,
  &:active {
    color: darken($primary, 10%);
  }
  &:visited {
    color: lighten($primary, 8%);
  }
  &.permanent {
    &:hover,
    &:active,
    &:visited {
      color: $primary;
    }
  }
}

dt {
  font-weight: bold;
}
dt,
dd {
  line-height: 1.5;
}
dd {
  margin-bottom: 0.25em;
}

/* button reset */
button,
[type='button'],
[type='submit'],
[type='reset'] {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.header {
  background-color: $silver;
  border-bottom: 1px solid darken($silver, 10%);
  color: $darkgrey;
  height: 54px; /* text 21px, padding 16px * 2, border 1px */
  padding: 1rem;

  & h1 {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
  }
}

.main {
  margin: 0 auto;
  padding: 0 1rem;
  &--fixed {
    width: 60em;
  }
}

.container {
  &--flex {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-left: -0.5em;
    margin-right: -0.5em;
    & > * {
      flex-basis: calc(50% - 1em);
      flex-grow: 1;
      min-width: 15em;
      margin: 0 0.5em 1em 0.5em;
    }
  }
}

.button {
  border: 1px solid $grey;
  border-radius: 0.25em;
  color: $black;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover,
  &:active {
    background-color: $darkgrey;
    border-color: $black;
    color: $white;
  }
  &--dark {
    background-color: $darkgrey;
    border-color: $black;
    color: $white;
    &:hover,
    &:active {
      background-color: $black;
    }
  }

  &--primary {
    border-color: $primary;
    color: $primary;
    &:hover,
    &:active {
      background-color: $primary;
      border-color: darken($primary, 20%);
      color: $white;
    }
    &-dark {
      background-color: $primary;
      border-color: $primary;
      color: $white;
      &:hover,
      &:active {
        background-color: darken($primary, 8%);
        border-color: darken($primary, 20%);
        color: $white;
      }
    }
  }

  &--secondary {
    border-color: $secondary;
    color: $secondary;
    &:hover,
    &:active {
      background-color: $secondary;
      border-color: darken($secondary, 20%);
      color: $white;
    }
    &-dark {
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
      &:hover,
      &:active {
        background-color: darken($secondary, 8%);
        border-color: darken($secondary, 20%);
        color: $white;
      }
    }
  }

  &--danger {
    border-color: $red;
    color: $red;
    &:hover,
    &:active {
      background-color: $red;
      border-color: darken($red, 20%);
      color: $white;
    }
    &-dark {
      background-color: $red;
      border-color: $red;
      color: $white;
      &:hover,
      &:active {
        background-color: darken($red, 8%);
        border-color: darken($red, 20%);
        color: $white;
      }
    }
  }

  &--warning {
    border-color: $warning;
    color: $warning;
    &:hover,
    &:active {
      background-color: $warning;
      border-color: darken($warning, 20%);
      color: $white;
    }
    &-dark {
      background-color: $warning;
      border-color: $warning;
      color: $white;
      &:hover,
      &:active {
        background-color: darken($warning, 8%);
        border-color: darken($warning, 20%);
        color: $white;
      }
    }
  }

  &--success {
    border-color: $green;
    color: $green;
    &:hover,
    &:active {
      background-color: $green;
      border-color: darken($green, 20%);
      color: $white;
    }
    &-dark {
      background-color: $green;
      border-color: $green;
      color: $white;
      &:hover,
      &:active {
        background-color: darken($green, 8%);
        border-color: darken($green, 20%);
        color: $white;
      }
    }
  }

  &--info {
    border-color: $info;
    color: $info;
    &:hover,
    &:active {
      background-color: $info;
      border-color: darken($info, 20%);
      color: $white;
    }
    &-dark {
      background-color: $info;
      border-color: $info;
      color: $white;
      &:hover,
      &:active {
        background-color: darken($info, 8%);
        border-color: darken($info, 20%);
        color: $white;
      }
    }
  }

  &--link {
    border: none;
    color: $primary;
    padding: calc(0.5em + 1px) calc(1em + 1px);
    text-decoration: underline;
    &:hover,
    &:active {
      background-color: transparent;
      color: darken($primary, 10%);
    }
  }

  &--lg {
    font-size: 1.25em;
  }

  &--sm {
    font-size: 0.9em;
    padding: 0.25em 0.5em;
  }
}

.panel {
  border: 1px solid $grey;
  border-radius: 0.25rem;

  &__title {
    background-color: $silver;
    border-bottom: 1px solid $grey;
    padding: 1rem;
    & > * {
      margin: 0;
    }
  }

  &__body {
    padding: 1rem;

    & > * {
      margin-bottom: 1em;
    }
  }
}

.form {
  &__group {
    margin-bottom: 1rem;
  }
  &__control {
    border: 1px solid $grey;
    border-radius: 0.25em;
    padding: 0.5em;
    width: 100%;
  }
}
.input {
  &--lg {
    font-size: 1.125em;
  }
}

.alert {
  border: 1px solid $grey;
  border-radius: 0.25em;
  padding: 0.5em;

  &--danger {
    border-color: $red;
    color: $red;
  }

  &--warning {
    border-color: $warning;
    color: $warning;
  }
}

/* https://a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);

  & a:focus,
  & input:focus,
  & button:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

/* js-autocomplete */
.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
.autocomplete-suggestion {
  position: relative;
  padding: 0 0.6em;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #333;
}
.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6;
}
.autocomplete-suggestion.selected {
  background: #f0f0f0;
}
